<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connectionString" connectionString="User ID=sa;Initial Catalog=Plataforma_Central;Data Source=192.168.42.5;Password=zv902134" providerName="SqlServer"/>
    <add name="digitalgest" connectionString="User ID=sa;Initial Catalog=Plataforma_DigitalgestHml;Data Source=192.168.42.5;Password=zv902134" providerName="SqlServer"/>
  </connectionStrings>

  <appSettings>
    <add key="SystemMode" value="Development"/>
    <add key="CreateViewPath" value="C:\projects\Atmosfera\Admin"/>
  </appSettings>
</configuration>